<header class="sticky">
  <div class="enlaces-registro">
    <a href="/registro">Registro</a>|
    <a href="/inicio">Inicio Sesión</a>
  </div>
  <a href="/" class="logo">Blog de Viajes</a>
  <a href="/" class="button"><span class="icon-home"></span> Inicio</a>
  <a href="/autores" class="button"><span class="icon-user"></span> Autores</a>
</header>
