<header class="sticky">
  <div class="enlaces-registro">
    <span class="icon-user"></span>
    <%=usuario.pseudonimo%> |
    <a href="/admin/procesar_cerrar_sesion">Cerrar Sesión</a>
  </div>
  <a href="#" class="logo">Blog de Viajes</a>
  <a href="/admin/index" class="button"><span class="icon-credit"></span>Admin</a>
</header>
